*   {
    box-sizing: border-box;

}
    


h1 {
    background-color: aqua;
    color: white;
    margin-left: 150px;
    width: 20%;
}

.wrapper {
    border-block-end-color: black;
    border-style: solid;


}
#bio-image {
    height: 120px;
    width: auto;
    transform: rotate(270deg);
}

#about {
    float: left;
}

#body {
    float: left;
}

.head-container {
   
}

#master-head {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: cornflowerblue;
    color: black
}

#logo {
    text-decoration: none;
    float: left;
    color: black;
}

nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;

}

nav {
    float: right;
}